header {
    display: block;
    font-size: 18px;
}
.navbar {
    display: block;
    align-items: center;
    background-color: #b86d01;
    padding: 10px 25px 0px 25px;
    border-radius: 0 0 10px 10px;
    z-index: 999999999999;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid white;
}
.navbar .navbar-menu {
    display: none;
}
.navbar .navbar-item {
    padding: 4px;
    padding-right: 10px;
    padding-left: 30px;
    font-size: 18px;
}

.navbar-start a {
    cursor: pointer;
    color: white !important;
}
a:hover {
    color: #0056b3 !important;
    text-decoration: none;
}
.navbar-burger.is-active {
    transition: all 1s ease-in;
}
.navbar-burger.is-active span:first-child {
    transform: translateY(11px) rotate(45deg);
}
.navbar-burger.is-active span:nth-child(2) {
    visibility: hidden;
}
.navbar-burger.is-active span:last-child {
    transform: translateY(-11px) rotate(-45deg);
}
@media (min-width: 768px) {
    .navbar .navbar-menu {
        display: inline-block;
        float: right;
        margin-top: 12px;
   }
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
   }
    .navbar .navbar-brand {
        width: 100%;
   }
    .navbar .navbar-burger {
        cursor: pointer;
        float: right;
        display: flex;
        flex-direction: column;
   }
    .navbar .navbar-burger span {
        background-color: white;
        height: 3px;
        width: 20px;
        margin: 4px;
   }
    .navbar-menu .navbar-start {
        display: inline-block;
        flex-direction: column;
        float: right;
   }
    .navbar-menu .navbar-end {
        display: flex;
        flex-direction: column;
   }
}
.navbar .navbar-menu.is-active {
    transition: all 0.4s ease-in;
    display: flex;
    justify-content: center;
}
@media (min-width: 550px) {
    .container {
        width: 80%;
   }
}
